*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header__logo {
    float: left;
}

.logo__text p {
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.logo__text span {
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.logo__text span {
    color: #4bcaff;
}

.nav {
    float: right;
}

.nav__link a {
    font-size: 0px;
}

.nav__link {
    color: #ffffff;
    margin-left: 28px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px 12px 10px 12px;
    border: 2px solid rgba(53, 63, 70, 0);
}

.nav__link:first-child {
    margin-left: 10px;
}

.nav__link:hover {
    color: #4bcaff;
    border: 2px solid #4bcaff;
}

.clear {
    clear: both;
}

.header__inner {
    padding: 58px 0;
}

.header {
    height: 150px;
    background: url("../images/bg_nav.png") repeat-x;
    opacity: 0.85;
}

.intro {
    background: url("../images/bg_holder.png") no-repeat center top / cover;
    height: 800px;
    padding-top: 400px;
}

.intro__title {
    margin: 0;
    font-size: 42px;
    font-weight: 300;
    line-height: 75px;
    text-transform: uppercase;
    text-align: center;
    background: url("../images/highlight.png") no-repeat center;
}

.services {
    /* height: 405px; */
    background-color: #4bcaff;
}

.cards {
    padding-top: 80px;
    padding-bottom: 80px;
}

.services__logo {
    margin: 0px;
    font-size: 30px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
}

.services__card {
    display: inline-block;
    height: 216px;
    width: 270px;
    margin-right: 20px;
}

.services__card:last-child {
    margin-right: 0px;
}

.services_icon {
    padding-top: 33px;
}

.services__title {
    margin: 20px 0px;
}

.services__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.services__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.white__underline {
    width: 48px;
    height: 2px;
    background: #fff;
    margin-top: 10px;
}

.dark__underline {
    width: 48px;
    height: 2px;
    background: #515f67;
    margin-top: 10px;
}

.portfolio {
    background: #fff;
}

.portfolio__logo {
    float: left;
}

.portfolio__nav {
    float: right;
}

.portfolio__title {
    color: #515f67;
    font-size: 30px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
}

.portfolio__link {
    color: #515f67;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 20px;
    padding: 8px 15px 8px 15px;
    border: 2px solid #fff;
}

.portfolio__link:first-child {
    margin-left: 0;
}

.portfolio__inner {
    padding: 80px 0;
}

.portfolio__link:hover {
    color: #4bcaff;
    border: 2px solid #4bcaff;
}

.portfolio__card {
    height: 270px;
    width: 270px;
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 25px;
    position: relative;
}

.portfolio__card:first-child {
    margin-left: 0;
}

.portfolio__card span {
    position: absolute;
    top: 119px;
    left: 119px;
    font-size: 72px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    visibility: hidden;
}

.portfolio__card:hover {
    background: rgba(53, 63, 71, 1);
}

.portfolio__card:hover span {
    visibility: visible;
}

.portfolio_down__row .portfolio__card img {
    opacity: 0.75;
}

.portfolio_down__row {
    padding-bottom: 45px;
}

#default__section {
    background-color: #515f67;
}

#section__logo {
    padding-top: 80px;
    padding-bottom: 5px;
    height: 22px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
}

.section__text {
    padding-top: 39px;
    width: 470px;
    height: 198px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.section__button {
    margin-top: 36px;
    margin-bottom: 80px;
    padding: 9px 38px 8px 39px;
    color: #353f46;
    display: inline-block;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border: 2px solid #353f46; 
}

#player {
    float: right;
    margin-top: 119px;
}

#section__wrapper {
    float: left;
}

#twitter__section {
    background-color: #4bcaff;
}

#twitter {
    margin: 0px;
    padding-bottom: 5px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
}

#twitter__logo {
    float: left;
    padding-top: 80px;
}

#twitter__icon {
    float: right;
    padding-top: 80px;
}

#twitter__text {
    padding-top: 39px;
    padding-bottom: 77px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 28px;
    font-weight: 300;
    line-height: 50px;
}

#twitter__text span {
    color: #ffffff;
    font-size: 30px;
    line-height: 50px;
    font-family: "Segoe UI - Semi Bold";
    font-weight: 400;
}

#whois__section {
    background: url(../images/bg_photo.png) no-repeat center top / cover;
    height: 505px;
}

#whois {
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 5px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
}

#left__column {
    float: left;
    padding-top: 39px;
    width: 569px;
    height: 208px;
}

#left__column p {
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#right__column {
    float: right;
    padding-top: 39px;
    width: 551px;
    height: 110px;
}

#right__column p {
    margin-bottom: 36px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#social__icon a {
    margin-left: 20px;
    border: 2px solid #fff;
    display: inline-block;
    vertical-align: middle; 
}

#social__icon a:first-child {
    margin-left: 0px;
}

#twitter__link {
    padding:17px 16px;
}

#google__link {
    padding:13px 16px 14px 16px;
}

#dribbble__link {
    padding:15px 17px 14px;
}

#coffee__link {
    padding:17px 15px 15px 14px;
}

#testimonials__section {
    background-color: #fff;
}

#testimonials__logo {
    float: left;
    padding-top: 80px;
}

#testimonials {
    margin-top: 0px;
    margin-bottom: 5px;
    color: #515f67;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
}

#testimonials__icon {
    float: right;
    color: #515f67;
    font-family: 'Bitter', serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 50px;
}

#testimonials__text {
    width: 1052px;
    height: 79px;
    color: #515f67;
    font-family: "Segoe UI";
    font-size: 28px;
    font-weight: 300;
    line-height: 50px;
}

#quote__sign {
    margin: 0px;
    padding-top: 37px;
    padding-bottom: 79px;
    color: #4bcaff;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
}

#contact__section {
    background: url(../images/bg_contact.png) no-repeat center top / cover;
    height: 814px;
}

#contact {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 80px;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
}

#left_form__column {
    float: left;
    padding-top: 40px;
}

#left_form__column label {
    display: block;
}

#right_form__column {
    float: right;
    padding-top: 40px;
}

#left_form__column label {
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

#label__email {
    padding-top: 40px;
}

#left_form__column input {
    width: 470px;
    height: 60px;
    border: 2px solid #ffffff;
    background: transparent;
}


#form_top__text {
    width: 531px;
    height: 63px;
    color: #ffffff;
    font-family: "Segoe UI - Semi Bold";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#form_down__text {
    padding-top: 39px;
    width: 242px;
    height: 85px;
    color: #ffffff;
    font-family: "Segoe UI - Semi Bold";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#message__column {
    padding-top: 40px;
}

#message__text {
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

#message__area {
    display: block;
    width: 1170px;
    height: 220px;
    border: 2px solid #ffffff;
    background: transparent;
}

#message__column button {
    margin-top: 40px;
    width: 370px;
    height: 60px;
    background-color: #4bcaff;
    border: none;
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

#footer {
    background-color: #353f47;
}

#footer__nav {
    float: left;
    padding-top: 78px;
    padding-bottom: 79px;
}

#footer__nav a {
    color: #515f67;
    font-family: "Segoe UI - Semi Bold";
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    border-right: 1px solid #515f67;
    padding-left: 10px;
    padding-right: 10px;
}

#footer__nav a:first-child {
    padding-left: 0px;
}

#copyrights {
    float: right;
    padding-top: 78px;
}

#copyrights p {
    margin: 0px;
    color: #515f67;
    font-family: "Segoe UI - Semi Bold";
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

